body{
    font-size:25px;
}
#playGround{
    width: 100%;
    text-align: center;
}
.sudoku{
    display: inline-table;
    border: solid 2px;
    border-spacing: 1px;
    background-color:azure;
}
.sudoku td{
    border: solid 1px;
    width: 40px;
    height: 40px;
}
.sudoku td.top{
    border-top: solid 2px;
}
.sudoku td.bottom{
    border-bottom: solid 2px;
}
.sudoku td.left{
    border-left: solid 2px;
}
.sudoku td.right{
    border-right: solid 2px;
}
.sudoku input{
    width: inherit;
    height: inherit;
    font-size: 25px;
    padding: 0;
    text-align: center;
    color: brown;
    background:none;
}
.sudoku .marked{
    background-color:dodgerblue;
}
.sudoku .mistake{
    background-color:darksalmon;
}
.timer .display{
    margin: 50px;
}